
  
  
  <div class="form-container">
      <h1>Bookings</h1>

 First Name:<br>
  <input type="text" class="textbox" [(ngModel)]="fname" placeholder="Enter Your Name">
  <br>
  Last Name:<br>
  <input type="text" class="textbox" [(ngModel)]="surname" placeholder="Enter Your Surname">
  <br>
  Age:<br>
  <input type="number" class="textbox" [(ngModel)]="age" placeholder="Enter Your Age">
 
  <br>
  Date:<br>
  <input type="date" class="textbox" [(ngModel)]="date" placeholder="yyyy/dd/mm">
  <br><br>
  <input class="submit" type="submit" (click)="onlogin()" value="Login">
  
  </div>
